# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.bak
*.tmp
*~
.DS_Store
Thumbs.db
.directory
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE & Editors
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Secrets & Environment variables
.env
.env.*
*.keystore
*.jks
key.properties

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
*.apk
*.aab

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android
.gradle/
/android/.gradle/
/android/local.properties
/android/key.properties
/android/app/debug
/android/app/profile
/android/app/release
/android/build/

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/ephemeral/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/flutter_export_environment.sh
/ios/Runner/GeneratedPluginRegistrant.*
/ios/*.xcworkspace/
/ios/*.xcodeproj/xcuserdata/

# Desktop Ephemeral
/linux/flutter/ephemeral/
/windows/flutter/ephemeral/
/macos/Flutter/ephemeral/

# Local Testing & Mock Tools
Test/
